body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#vung1 {
    background-color: yellow;
    padding: 15px;
    margin-bottom: 10px;
    border: 5px solid orange;
    color: red;
     height: 20px;
      box-sizing: border-box;
    display: flex;
  flex-direction: column;
  align-items: center;
}

#vung2 {
    background-color: lightblue; 
    color: darkblue;
    padding: 15px;
    margin-bottom: 10px;
    border: 5px solid blue;
    color: yellow;
     height: 70px;
}

#vung3 {
    background-color: lightcoral; 
    color: #333;
    padding: 15px;
    border: 5px solid red;
    color: white;
    height: 20px;
}
