#vung1 {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  height: 1500px;
  border: 20px solid brown;
  box-sizing: border-box;
}
#vung2 {
  background-color: yellow;
  color: red;
  height: 200px;
  border: 20px solid skyblue;
  box-sizing: border-box;
}
#vung3 {
  background-color: red;
  color: white;
  height: 180px;
  border: 20px solid pink;
  box-sizing: border-box;
}
img {
  width: 48px;
  height: 48px;
  display: block;
  margin-top: 10px;
}
#vung1 p {
  text-align: center
  width: 100%
}
